.ygg{
    width: 302px;
    height: 300px;
    border: 5px solid green;
    margin: 0px auto;
}

/*
.ygg img{
    width: 200px;
    height: 200px;
    border: 5px solid green;
    margin: 0px auto;
}*/
